---
layout: default
---
<article class="contact-shell">
  <p class="section-kicker">Research · Collaboration · Mentoring</p>
  <h1>{{ page.title }}</h1>
  <div class="contact-copy">{{ content }}</div>
  <div class="contact-actions">
    <a class="button" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=vaidyasaiteja143@gmail.com&amp;su=Call%20request%20%E2%80%94%20%5BYour%20name%5D&amp;body=Hi%20Sai%2C%0A%0AI%27d%20like%20to%20schedule%20a%20call.%0A%0AName%3A%0AContext%3A%0APreferred%20times%3A%0A" target="_blank" rel="noopener">Compose in Gmail →</a>
    <a class="text-link" href="mailto:vaidyasaiteja143@gmail.com?subject=Call%20request%20%E2%80%94%20%5BYour%20name%5D&amp;body=Hi%20Sai%2C%0A%0AI%27d%20like%20to%20schedule%20a%20call.%0A%0AName%3A%0AContext%3A%0APreferred%20times%3A%0A">Use your email app</a>
    <a class="text-link" href="https://www.linkedin.com/in/vaidyasai/" target="_blank" rel="noopener">Connect on LinkedIn</a>
  </div>
</article>
