---
layout: default
---
<nav class="animate-enter">
    <a href="{{ '/' | relative_url }}">← index</a>
    <span>sai's sops</span>
</nav>

<article class="animate-enter" style="animation-delay: 0.1s;">
    <header>
        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.description }}</p>
    </header>

    <div class="content sops-list">
        {{ content }}
    </div>
</article>

<footer class="animate-enter" style="animation-delay: 0.3s;">
    <a href="{{ '/' | relative_url }}">← back to index</a>
</footer>
